**/node_modules
**/.DS_Store
**/.env
**/.env.*.local
**/.env.production
**/.env.staging
**/.env.zap
**/*.pem
**/kubeconfig-*.yml

/.bundle
/.byebug_history
/.yarn-integrity
/.vscode

/api/.last_run.json
/api/.resultset.json
/api/.resultset.json.lock
/api/.pnp.*
/api/.webdrivers
/api/.yarn/*
!/api/.yarn/patches
!/api/.yarn/plugins
!/api/.yarn/releases
!/api/.yarn/sdks
!/api/.yarn/versions
/api/app/assets/builds/*
!/api/app/assets/builds/
!/api/app/assets/builds/.keep
/api/assets
/api/config/master.key
/api/index.html
/api/log/*
/api/node_modules/
/api/public/assets
/api/public/rails-assets
/api/public/packs
/api/public/packs-test
/api/tmp
/api/tmp/pids/*
!/api/tmp/.keep
!/api/tmp/pids/
!/api/tmp/pids/.keep
/api/storage/*
!/api/storage/.keep

/ci/caldav/db/db.sqlite

/docker-compose.zap.yml

/front/cypress/screenshots
/front/cypress/videos
/front/dist
/front/dist-ssr
/front/node_modules
/front/public/env-config.js
/front/.pnp.*
/front/.webdrivers
/front/.yarn/*
!/front/.yarn/patches
!/front/.yarn/plugins
!/front/.yarn/releases
!/front/.yarn/sdks
!/front/.yarn/versions

/jenkins-tmp

!/log/.keep

/postgres-data

/redis-data

/VERSION

yarn-debug.log*
yarn-error.log
